*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins",sans-serif;
  overflow-x: hidden;
  background-color: black;
  color: #fff;
}
*html{
  overflow-x: hidden;
}
h1{
  font-size: 25px;
}
p{
  margin: 10px 0px;
}